# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Docker
.docker/
# Ignorar dados do MinIO e outros volumes locais
infra/lakehouse/minio_data/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# SQLMesh / Airflow
.cache/
*.db
airflow.cfg
airflow.db
sqlmesh.db
estado.db
